<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Batchexcution.batch5"/>
      <class name="Batchexcution.Batch1"/>
      <class name="Batchexcution.Batch2"/>
      <class name="Batchexcution.Batch3"/>
      <class name="Batchexcution.batch4"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
